.app-wrapper{
  display: grid;
  margin: 0 auto;
   width: 1200px;
  grid-template-areas:
  "h h" /*2 h занимают 2 колонки*/
  "n c" /*nav в стороке занимает 2fr и content 10fr*/;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
} 
.app-wrapper-content{ 
  grid-area: c;
  background-image: url('https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 500px;
  padding: 10px;
}